# Environments
.env
.venv
env/
venv/
.venv_clean/
ENV/
env.bak/
venv.bak/

# Ignora arquivos de cache do Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# Arquivos temporários de sistema
.DS_Store
Thumbs.db

# Arquivos de log ou outputs locais
*.log
*.out

# VSCode configs
.vscode/

